*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
  }
  :root{
    font-size: 16px;
  }
  body{
    background-color: #343A40;
  }
  /* Navigation */
  .navigation-header {
    background-color: #343A40;
    padding: 0 15px;
    height: 60px;
    display: flex;
   padding-left: 40px;
   padding-top: 20px;
   padding-bottom: 20px;
    align-items: center;
    /* border-bottom: 1px solid white; */
    margin-bottom: 30px;

  }
  
  nav {
    width: 100%;
    max-width: 1700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-container > a {
    color: #858792;
    text-decoration: none;
    font-weight: 700;
    font-size: 40px;
    justify-content: center;
    font-weight: bold;
    /* padding-left: 40px;background-color: white; */

    
  }
  .navigation-items {
    display: flex;
    gap: 40px;
  }
  .navigation-items > a {
    color: ghostwhite;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: .4s ease-in-out;
  }
  .navigation-items > a:hover {
    color: white;
  }
  .hamburger {
    display: none;
    font-size: 20px;
    font-weight: 800;
    color: white;
  }
  main{
    background-color:#343A40;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    
  }
.mainconatiner{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 100px;
width: 100%;
padding-top: 30px;
/* background-color: skyblue; */
padding-left: 100px;
padding-right: 100px;
/* border: 1px solid white; */
padding-bottom: 30px;
margin-bottom: 20px;
  }
  .mainone{
    flex: 1;
    width: 573px;
    height: 517px;
    background-color: #343A40;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 10px;
    /* border: 1px solid white; */
  }


.mainone .hithere{
    background-color: white;
    width: 92px;
    height: 32px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;

    

}
.mainconatiner .mainone .descriptionone > p{

  font-size: 32px;
  font-weight: bold;
  color: white;


}

.mainconatiner .mainone .descriptiontwo{
  margin-top: 30px;
}
.mainconatiner .mainone .descriptiontwo > p{
  color:#858792;
  font-size: 16px;
}
.buttoncontainer{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.buttoncontainer .buttonone {
  background-color: #5B69E2;
  display: flex;
  padding: 15px;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  border-radius:5px;
 
}
.buttoncontainer .buttonone .one{
color: white;
font-weight: bold;
margin-right: 5px;
font-weight: bold;
font-size: 12px;
  
}

.buttoncontainer .buttonone .fa{
  color: white;
  margin-left: 10px;
  margin-top: 3px;
    
  }


  .buttoncontainer .buttonones {
    background-color:white;
    display: flex;
    padding: 15px;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    border-radius:5px;
   
  }

  .buttoncontainer .buttonones .ones{
    color: #5B69E2;
    font-weight: bold;
    margin-right: 5px;
    font-weight: bold;
    font-size: 12px;
      
    }
    
    .buttoncontainer .buttonones .fa{
      color: #5B69E2;
      margin-left: 10px;
      margin-top: 3px;
        
      }
      .socialMedia{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 30px;
      }
      .socialMedia .twitter > a{
        text-decoration: none;
        cursor: pointer;
      }
      .socialMedia .twitter  a>p{
        color: white;
        margin-bottom: 10px;
      }
     .fa-twitter,.fa-linkedin,.fa-github,.fa-facebook{
        padding: 10px;
        font-size: 40px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        /*margin: 5px 2px;
        */background-color: white;
        color: black;
        border-radius:5px ;
     
}
      .twitter{
         text-align: center;
      }

      .maintwo{
        flex: 1;
        width:628px;
        height: 615px;
        position: relative;
        /* border: 1px solid white; */
   
      
    }
      .maintwo .ambroiseImage {
        width: 100%;
        height: 100%;
      }
      
      .maincontainersectionTwo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        padding-top: 30px;
        /* background-color: skyblue; */
        background-image: linear-gradient(to top, #1F2937, #4F46E5);
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid white;
        padding-bottom: 30px;
        margin-bottom: 20px;
      }
  
      .maincontainersectionTwo .aboutMeImagecontainer{
        flex:1;
        border: 1px solid white;
        padding-top: 20px;
        padding-top: 20px;
        padding-left: 15px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        height: 517px;

      }
      .maincontainersectionTwo .aboutMeImagecontainer .imageWeb{
       width: 100%;
       height: 100%;

      }
    
      .maincontainersectionTwo .aboutmeContainer{
        flex: 1;
        position: relative;
        width: 640px;
        border: 1px solid white;
        padding-top: 20px;
        padding-top: 20px;
        padding-left: 15px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        height: 438px;
      }

      img
.aboutmeContainer{
  height: auto;
}
      .aboutmeContainer .aboutme{
        color: #858792;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
      }
       .problemsolution{
        color: #5B69E2;
        font-size: 32px;
        font-weight: bold;


      }
      .professional{
       
          color: white;
          font-size: 32px;
          font-weight: bold;
      }
      .digitalproduct{
        color: white;
        font-size: 32px;
        font-weight: bold;
        padding-bottom: 30px;

      }
      .webdesign{
        color: #858792;
        font-size: 20px;
        margin-bottom: 20px;
      }
      .design{
        display: flex;
        flex-direction: row;
        gap: 60px;
        flex-wrap: wrap;
        margin-bottom: 30px;
      }
      .design .designd > p{
        margin-bottom: 20px;
      }
      .design .designd > p .spanone{
       color: #858792;
       margin-right: 20px;
       font-size: 20px;
      }
      .design .designd > p .spantwo{
        color: white;
        
        font-size: 20px;
       }
       .design .mediaConatiner{
        width: 515px;
        height: 50px;
        background-color: #343A40;
        border-radius: 50px;
    
}

  @media screen and (max-width:768px) {

    .hamburger {
      display: flex;
      cursor: pointer;
    }
    .hamburger #closeHam {
      display: none;
    }
    .navigation-items {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 0;
      top: 58px;
      background-color: rgb(73, 51, 153);
      width: 100%;
      padding-top: 60px;
      gap: 10vh;
    }
    .mainconatiner{
      gap: 20px;
      display: flex;
      flex-direction: column;
      padding-left: 5px;
      padding-right: 5px;
    }

    .mainone{
      flex: 1;
      width: 100%;
      height: 517px;

    }
    .maintwo{
      flex: 1;
      width: 100%;
      height: 517px;

    }

    .maincontainersectionTwo{
      display: flex;
      flex-direction: column;
    }
    
  }


  @media only screen and (min-width: 320px) and (max-width: 480px) {
     .mainconatiner{
      gap: 20px;
      display: flex;
      flex-direction: column;
      padding-left: 5px;
      padding-right: 5px;
    }

    .mainone{
      flex: 1;
      width: 100%;
      height: 517px;

    }
    .maintwo{
      flex: 1;
      width: 100%;
      height: 517px;

    }
    .design{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .design .designd > p{
      margin-bottom: 10px;
    }

    .maincontainersectionTwo{
      display: flex;
      flex-direction: column;
    }
  }
  
  @media only screen and (min-width: 769px) and (max-width: 1024px) {

  }