*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
  }
  :root{
    font-size: 16px;
  }
  body{
    background-color: #343A40;
  }
  /* Navigation */
/* Navigation */
.navigation-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #343A40;
    padding: 0 15px;
    height: 60px;
    display: flex;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    z-index: 1000; /* Set a high z-index to ensure the navigation bar stays on top */
  }
  main {
    background-color: #343A40;
    /* overflow-x: hidden; */
    width: 100%;
    height: auto;
    margin-top: 60px; /* Adjusted margin for the fixed navigation bar */
  }
    
  nav {
    /* position: fixed; */
    width: 100%;
    max-width: 1700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 1; */
  }
  .logo-container > a {
    color: #858792;
    text-decoration: none;
    font-weight: 700;
    font-size: 40px;
    justify-content: center;
    font-weight: bold;
    /* padding-left: 40px;background-color: white; */
  
    
  }
  .navigation-items {
    display: flex;
    gap: 40px;
  }
  .navigation-items > a {
    color: ghostwhite;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: .4s ease-in-out;
  }
  .navigation-items > a:hover {
    color: white;
  }
  .hamburger {
    display: none;
    font-size: 20px;
    font-weight: 800;
    color: white;
  }
  main{
    background-color:#343A40;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    
  }

  .registerSection{
    background-color: #343A40;
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
  }

  .sectionFivemain{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .registermain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }

  .contactUsContainer{
    /* border: 1px solid white; */
  }
  .contactUsContainer .getIttouch p {
    color: #858792;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    }
    .contactUsContainer .getIttouch h1{
    color: white;
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: bold;
    }
    .contactUsContainer .getIttouch h2{
    color: #5B69E2;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    
    }
    .contactUsContainer .letmeKnow{
    margin-bottom: 30px;
    }
    .contactUsContainer .letmeKnow p{
    color:#858792;
    font-size: 20px;
    
    }
    .registerStyle >label{
    color: white;
    font-size: 20px;
    
    }
    .registerStyle .regiterInput{
    margin-top: 10px;
    }
    .registerStyle .regiterInput >input{
    margin-top: 20px;
    width: 390px;
    height: 56px;
    outline: none;
    border: 1px solid #858792;
    background-color: #343A40;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom:10px ;
    }
    .registerStyle .regiterInput >input::placeholder{
    font-size: 20px;
    }
    .registermain{
    display: flex;
    flex-direction: row;
    gap: 45px;

    }
    .check{
    width: 30px;
    height: 30px;
    background-color: #5B69E2;
    text-align: center;
    border-radius: 100%;
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    }
    .checkContainer{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    
    }
    .checkContainer p{
    font-size: 20px;
    font-weight: bold;
    color: #858792;
    
    }
    /* .sectionFiveParent{
    
    display: flex;
    flex-direction: row;
    } */
    
    .registermain .fa{
    position: relative;
    margin-left: -40px;
    color: #858792;
    height: 24px;
    width: 24px;
    font-size: 25px;
    
    }

.genderOption>p{
color: white;
font-size: 20px;
font-weight: bold;
padding-top: 10px;
padding-bottom: 10px;
}
.genderOption >input
{
height: 30px;
width: 20px;
outline: none;
border: none;
cursor: pointer;
}

.Footer{
width: 100%;
display: flex;
/* border: 1px solid white; */
/* margin-top: 20px; */
/* background-image: linear-gradient(to top, #1F2937, #4F46E5); */
justify-content: center;
text-align: center;
padding-top:30px ;
padding-bottom: 30px;

}

.Footer p{
  color: #858792;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.Footer h1{
  font-size: 32px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.Footer input{
  width: 594px;
  height: 72px;
  border: 1px solid #858792;
  border-radius: 30px;
  background-color: #343A40;
  outline: none;
  padding-left: 20px;margin-right: 20px;


}
.Footer button{
width: 185px;
height: 72px;
border-radius: 20px;
background-color: #858792;
border: none;
outline: none;
color: white;
font-size: 20px;
cursor: pointer;
}
.Footer input::placeholder{
color: #858792;
font-size: 18px;
}

.footerContainer{
margin-bottom: 20px;
}
.sectionSix{
width: 100%;
background-image: linear-gradient(to top, #1F2937, #4F46E5);
height: auto;

}
.sectionSix .line{
border: 1px solid #858792;
margin-bottom: 10px;
}
.scriptFooter{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
padding-left: 100px;
padding-right: 100px;
margin-top: 30px;
padding-bottom: 20px;
}
.scriptFooter p{
font-size: 18px;
color: #858792;

}
.scriptFooter h1{
font-size: 40px;
color: #858792;
font-weight: bold;
}
  @media screen and (max-width:768px) {

    .hamburger {
      display: flex;
      cursor: pointer;
    }
    .hamburger #closeHam {
      display: none;
    }
    .navigation-items {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 0;
      top: 58px;
      /* background-color: #343A40; */
  background-image: linear-gradient(to top, #1F2937, #4F46E5);
  
      width: 100%;
      padding-top: 60px;
      padding-bottom: 10px;
      gap: 10vh;
    }
.sectionFivemain{
    display: flex;
    flex-direction: column;
}
.registermain{
    display: flex;
    flex-direction: column;    
}

.gender{
    display: flex;
    flex-direction: column;
/* justify-content: start; */
/* margin-top: 30px; */
/* gap: 50px; */
}

.registerStyle .regiterInput >input{
  
    width: 350px;

    }
    .Footer input{
        width: 350px;
        margin-bottom: 10px;
      }
  }

  @media only screen and (min-width: 280px) and (max-width: 540px) {
    .sectionFivemain{
        display: flex;
        flex-direction: column;
      
        }
        .registermain{
            display: flex;
            flex-direction: column;    
        }

        .registerSection{
            padding-left: 10px;
            padding-right: 10px;
        }
        .registerStyle .regiterInput >input{
  
            width: 345px;
        
            }
            

            .Footer input{
                width: 350px;
                margin-bottom: 10px;     
              }
  }
 
  
  @media only screen and (min-width: 769px) and (max-width: 1629px) {
    /* .sectionFivemain{
        display: flex;
        flex-direction: column;
      justify-content: space-around;
        } */
        .registermain{
            flex-direction: column;
        }
  }
  
  
  @media only screen and (min-width: 10px) and (max-width: 300px) {
    .registerStyle .regiterInput >input{
  
        width: 280px;
    
        }
  }
  

.signupButtonsp>p{
    color: white;
    font: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
}

.signupButtonsp >button{
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: #5B69E2;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}