*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
  }
  :root{
    font-size: 16px;
  }
  body{
    background-color: #343A40;
  }
  /* Navigation */
/* Navigation */
.navigation-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #343A40;
    padding: 0 15px;
    height: 60px;
    display: flex;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    z-index: 1000; /* Set a high z-index to ensure the navigation bar stays on top */
  }
  main {
    background-color: #343A40;
    /* overflow-x: hidden; */
    width: 100%;
    height: auto;
    margin-top: 60px; /* Adjusted margin for the fixed navigation bar */
  }
    
  nav {
    /* position: fixed; */
    width: 100%;
    max-width: 1700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 1; */
  }
  .logo-container > a {
    color: #858792;
    text-decoration: none;
    font-weight: 700;
    font-size: 40px;
    justify-content: center;
    font-weight: bold;
    /* padding-left: 40px;background-color: white; */
  
    
  }
  .navigation-items {
    display: flex;
    gap: 40px;
  }
  .navigation-items > a {
    color: ghostwhite;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: .4s ease-in-out;
  }
  .navigation-items > a:hover {
    color: white;
  }
  .hamburger {
    display: none;
    font-size: 20px;
    font-weight: 800;
    color: white;
  }
  main{
    background-color:#343A40;
    margin-top: 100px;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    
  }


.Footer{
width: 100%;
display: flex;
/* border: 1px solid white; */
/* margin-top: 20px; */
/* background-image: linear-gradient(to top, #1F2937, #4F46E5); */
justify-content: center;
text-align: center;
padding-top:30px ;
padding-bottom: 30px;

}

.Footer p{
  color: #858792;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.Footer h1{
  font-size: 32px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
.blogDescription p{
    color: #858792;
    font-size: 20px;
    margin-top: 20px;
}
.blogDescription h1{
    color: white;
    margin-top: 20px;
}
.Footer input{
  width: 594px;
  height: 72px;
  border: 1px solid #858792;
  border-radius: 30px;
  background-color: #343A40;
  outline: none;
  padding-left: 20px;margin-right: 20px;


}
.Footer button{
width: 185px;
height: 72px;
border-radius: 20px;
background-color: #858792;
border: none;
outline: none;
color: white;
font-size: 20px;
cursor: pointer;
}
.Footer input::placeholder{
color: #858792;
font-size: 18px;
}

.footerContainer{
margin-bottom: 20px;
}
.sectionSix{
width: 100%;
background-image: linear-gradient(to top, #1F2937, #4F46E5);
margin-top: 50px;
height: auto;

}
.sectionSix .line{
border: 1px solid #858792;
margin-bottom: 10px;
}
.scriptFooter{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
padding-left: 100px;
padding-right: 100px;
margin-top: 30px;
padding-bottom: 20px;
}
.scriptFooter p{
font-size: 18px;
color: #858792;

}
.scriptFooter h1{
font-size: 40px;
color: #858792;
font-weight: bold;
}

.signupButtonsp p{
    color: white;
    /* font-weight: bold; */
    font-size: 16px;
}
.signupButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.signupButtonsp button{
    padding: 10px;
    background-color:#5B69E2 ;
    outline: none;
    border: none;
    border-radius: 5px;
   margin-top: 10px;
   color: white;
   font-weight: bold;
}

.sectionSingle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Style for singleblogOne */
  .singleblogOne {
    width: 100%; 

    width: 600px; /* Limit the width on larger screens */
    text-align: left; /* Align text to the left */
    /* background-color: white; */
  }
  
  .singleblogOne img {
    /* max-width:  600px; */
     /* Limit the width on larger screens */
object-fit: cover;
    width: 100%;
    height: auto; /* Maintain aspect ratio */
  }
  
  /* Style for AllBlogs */
  .AllBlogs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .AllBlogs > div {
    max-width: 400px; /* Limit the width of each blog on larger screens */
  }
  
  .AllBlogs img {
    width: 100%; /* Make the image fill its container */
    height: auto; /* Maintain aspect ratio */
  }
  
  .singleblogOne  p{
    color: white;
    font-size: 15px;
    margin-top: 20px;font-weight: bold;

  }
.singleblogOne .share{
  color: white;
  font-weight: bold;
  margin-right: 10px;
}
  .singleblogOne div h1{
    color: white;
    margin-top: 20px;
  }
  .singleblogOne span a i,i{
    color: #5B69E2;
    margin-right: 10px;
  }

  .form-popup {
    padding: 0;
    margin: 0;
    display: none;
    margin-top: 20px;
    bottom: 0;
    /* border: 3px solid black; */
    z-index: 9;

}

  .form-container {
    width:78%;

    padding: 10px;
    background-color: white;
    border-radius: 10px;

  }
  
   .form-container input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: 1px solid #858792;
    background: white;
    border-radius: 5px;
    outline: none;

}
.form-popup label{
  color: #1F2937;
  margin-bottom: 5px;
  font-weight: bold;
}
  
  .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  } 
  
  .form-container .btn {
    background-color: #4F46E5;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  
  .form-container .cancel {
    background-color: #1F2937;
  }
  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  .close{
    float: right;
    position: relative;
    top:0px;
    color: #1F2937;
    background-color: white;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 20px;
  }

  
.open-button{
  background-color: #1F2937;
  padding: 10px;
  margin-top: 20px;
  outline: none;
  border: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 5px;

}
  
.container_textEditor {
	max-width: 991px;
	width: 100%;
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
    margin-bottom: 30px;
}
.toolbar {
	padding: 16px;
	background: #eee;
}
.toolbar .head {
	display: flex;
	grid-gap: 10px;
	margin-bottom: 16px;
	flex-wrap: wrap;
}
.toolbar .head > input {
	max-width: 100px;
	padding: 6px 10px;
	border-radius: 6px;
	border: 2px solid #ddd;
	outline: none;
}
.toolbar .head select {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}
.toolbar .head .color {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	grid-gap: 6px;
	padding: 0 10px;
}
.toolbar .head .color span {
	font-size: 14px;
}
.toolbar .head .color input {
	border: none;
	padding: 0;
	width: 26px;
	height: 26px;
	background: #fff;
	cursor: pointer;
}
.toolbar .head .color input::-moz-color-swatch {
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 50%;
}
.toolbar .btn-toolbar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	grid-gap: 10px;
}
.toolbar .btn-toolbar button {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}
.toolbar .btn-toolbar button:hover {
	background: #f3f3f3;
}
#comment {
	padding: 16px;
	outline: none;
	max-height: 50vh;
	overflow: auto;
}
#show-code[data-active="true"] {
	background: #eee;
}
.businessbetween{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.businessbetween p{
  color: #858792;
  font-size: 15px;
  /* font-weight: bold; */
  
}
.businessbetween .formartDate{
  color: white;
}
.busInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.busInfo .more{
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
    background-color: #1F2937;
  height: 40px;
  cursor: pointer;
  margin-top: 20px;
}
.busInfo  p{
  color: #858792;
  font-size: 17px;
  font-weight: bold;
}
.like-blog{
  color: white;
  font-weight:bold;
  padding: 10px;
  border-radius: 2px;
  outline: none;
  border: none;
  margin-top: 20px;
  /* height: 10px; */
  cursor: pointer;

}
.loginBefore{
  margin-top: 30px;
}
.loginBefore a{
  /* text-decoration: none; */
 
  color: white;
  font-weight: bold;

}
.like-blog i{
  /* font-size: 15px; */
}
.button_comment{
  display: flex;
  gap: 10px;
  /* justify-content: center; */
  text-align: center;
  align-items: center;
}
  @media screen and (max-width:768px) {

    .hamburger {
      display: flex;
      cursor: pointer;
    }
    .hamburger #closeHam {
      display: none;
    }
    .navigation-items {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 0;
      top: 58px;
      /* background-color: #343A40; */
      background-image: linear-gradient(to top, #1F2937, #4F46E5);
      width: 100%;
      padding-top: 60px;
      padding-bottom: 10px;
      gap: 10vh;
    }

    .Footer input{
        width: 350px;
        margin-bottom: 10px;
      }
      .sectionSingle{
        gap: 50px;
      }
      .AllBlogs >div{
        width: 100%; /* Take up full width on small screens */
        max-width: 600px; 
      }
  }

  @media only screen and (min-width: 280px) and (max-width: 540px) {
            .Footer input{
                width: 350px;
                margin-bottom: 10px;     
              }
              .sectionSingle{
                flex-direction: column;
              }
              .AllBlogs >div{
                width: 100%; /* Take up full width on small screens */
                max-width: 600px; 
              }
    
  }
 
  
  @media only screen and (min-width: 769px) and (max-width: 1629px) {
    .sectionSingle{
      gap: 50px;
    }
    .busInfo  {
   gap: 5px;
    }
    .sectionSingle{
      /* flex-direction: column;
      justify-content: center; */
    }
    .AllBlogs >div{
      /* width: 100%; 
      max-width: 600px;  */
    }
  }
  
  
  @media only screen and (min-width: 10px) and (max-width: 300px) {

  }
  

